# TUGAS 6 - Support Vector Machine

<b>IDENTITAS</b>

NIM: 2041720229

Nama: Safira Istifarini

Kelas: TI 3H

In [8]:
# import library
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import pandas as pd
import io

In [9]:
# Mengimpor dataset
dataset = pd.read_csv('gaji.csv')
X = dataset.iloc[:, 1:2].values
y = dataset.iloc[:, 2:3].values

In [10]:
dataset.head()

              Posisi  Level    Gaji
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000